In [1]:
import numpy as np
import xarray as xr
import pandas as pd
import os
import glob

In [2]:
# Load file with parameter ranges
csv='clm6_oaat_extras.txt'
params = pd.read_csv(csv)

In [3]:
params

         id     param  value
0  oaat0193  hksat_sf   2.00
1  oaat0194  hksat_sf   3.00
2  oaat0195  hksat_sf   4.00
3  oaat0196  hksat_sf   5.00
4  oaat0197    bsw_sf   1.15

In [4]:
out_dir = '/glade/work/linnia/CLM6-PPE/CLM6_miniOAAT/paramfiles/'

In [5]:
# default parameter file to start with
basefile = '/glade/work/linnia/ctsm5.3.0/cime/scripts/transient/runtime_files/ctsm60_params.c241007.nc'
def_paramfile = xr.open_dataset(basefile)

In [6]:
for ens in range(len(params)):
    new_paramfile = def_paramfile.copy()
    param = params['param'][ens]
    value = params['value'][ens]
    print(param,value)
    new_paramfile[param] = value

    new_paramfile.to_netcdf(out_dir+params['id'][ens]+'.nc')

hksat_sf 2.0
hksat_sf 3.0
hksat_sf 4.0
hksat_sf 5.0
bsw_sf 1.15